* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container {
    margin-bottom: 2.8rem;
}

.header_title {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

.header_desc {
    text-align: center;
    color: rgb(87, 87, 133);
    max-width: 580px;
    margin: 0 auto;

}
.main_container{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(2,1fr);  */
}
.card_container { 
    display: flex;
    flex-direction: column;
    border: 1.6px solid rgb(25, 24, 24);
    border-radius: 3px;
    overflow: hidden;
    width: 1200px;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_image_container {
    position: relative;
    overflow: hidden;
    height: 4rem;
    width: 100%;
}

.card_image {
    object-fit: cover;
    object-position: center;
    height: 30%; 
    width: 100%;
    /* display: block; */
    /* position: absolute;  */
    
}

.title_container{
    display: flex;
    flex-direction: column;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(25, 24, 24);
    margin-bottom: 0.3rem;
    line-height: 1.5rem;
}
.card_title_anchor:hover .card_title{
    color: rgb(35, 35, 178);
}
.card_desc{
    font-size: 1rem;
    color: rgb(113,107,107);
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
}